@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

.navbar {
  background-color: transparent;
  border: none;
  min-height: 80px;
  padding-top: 15px;
  padding-bottom: 15px;

}

.navbar-brand {
  background: url(evotech_no_benefit.svg);
  width: 200px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff8f00;
  border: 1px solid #ff8f00;
}

.navbar-default .navbar-toggle {
  border: 1px solid white;
  &:hover, &:focus {
	  border: 1px solid #ff8f00;
	  background-color: white;
  }
}

// START OF PAGES#HOME // 
#mainNav.navbar-shrink {
border-bottom: 1px solid rgba(33, 37, 41, 0.1);
background-color: #000000; }
  #mainNav.navbar-shrink .navbar-brand {
color: #F05F40; }
    #mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
  color: #f05f40; }
      #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link,
	#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
color: #212529; }
	  #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover,
	    #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #F05F40; } 

// END OF PAGES#HOME // 


// START OF DEVISE#LOGIN // 
#headerMargin{
  margin-top: 80px;
}
// END OF PAGES#LOGIN // 
