/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome-sprockets';
@import 'font-awesome';

body {
  padding-top: 60px;
}

textarea{
  resize: vertical;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Open Sans', sans-serif;
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
}
h2 {
  font-size: 2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  font-weight: normal;
}
p {
  font-size: 1.1em;
  line-height: 1.7em;
}

// LOGGED IN NAVBAR //
.navbarImage{
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
// LOGGED IN NAVBAR END //

.navbar-brand {
  background: url(evotech_no_benefit.svg);
  background-repeat: no-repeat; 
  background-position: center center;
  background-size: cover;
  width: 200px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #ff8f00;
  border: 1px solid #ff8f00;
}

.navbar-default .navbar-toggle {
  border: 1px solid white;
  &:hover, &:focus {
	  border: 1px solid #ff8f00;
	  background-color: white;
  }
}
// NAV BAR //
#mainNav {
  padding-top: 5px;
  padding-bottom: 0px;
  border-top: 4px #d9d9d6 solid;
  border-bottom: 0px;
  -webkit-transition: all 1.0s;
  -moz-transition: all 1.0s;
  transition: all 1.0s; 
}
.navbar-default .navbar-nav > li > a {
  border-bottom: 3px solid transparent;
}
.current-nav {
  border-bottom-color: #ff7e27 !important;
  color: #f47f25 !important; 

}
.navbar-default .navbar-nav > li > a:hover {
  text-shadow: none;
  -webkit-transition: all 1.5s ease;
  -moz-transition: all 1.5s ease;
  transition: all 1.5s ease; 
  border-bottom-color: #ff7e27;
  color: #f47f25;
  text-shadow: 0 0 5px rgba(255,255,255,.5);
}
#mainNav.navbar-shrink {
  padding-top: 5px;
  border-top: 4px #f48625 solid;
  background-color: #fff;
}
#mainNav.navbar-shrink .navbar-brand:focus, #mainNav.navbar-shrink .navbar-brand:hover {
  color: #f05f40; 
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus {
  color: #212529;
}
.navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
  background-color: transparent;
}
#mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:hover, #mainNav.navbar-shrink .navbar-nav > li.nav-item > a.nav-link:focus:hover {
  color: #f47f25; 
} 

// NAV BAR END //
