#contactUsHeader {
  height: 512px;
  text-align: center;
  color: #fff;
  background-image: url('header.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: 50% 50%;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  .container{
    padding-top: 185.5px;
    padding-bottom: 185.5px;
    .row h2 {
    font-size: 5rem;
    }
    .row h3 {
    font-style: italic;
    }
  }
}

#contactUsForm {
  position: relative;
  height: 789px;
  .container{
    padding-top: 64px;
    padding-bottom: 64px;
  }
  hr {
    max-width: 200px;
    margin: 0px;
  }
  .contactUsGetInTouch {
    margin-bottom: 50px;
  }
  .formFields {
    height: 3.5em;
    margin-bottom: 16px;
  }
}

#contactUsContacts{
  background-color: #ff7e27!important;
  height: 754px;
  color: #fff;
  text-align: center;
  .container {
    padding-top: 64px;
    padding-bottom: 64px;
    .row i {
      color: #fff; 
    }
    .row h2, h3 {
      color: #fff;
    }
    .row p {
      color: rgba(255,255,255,.8); 
    }
    .contactUsBox {
      margin-top: 20px;
    }
  }
  .titleContactUs {
    padding-bottom: 64px;
  }
  .mainContactUs {
    padding-top: 0;
  }
}
