#homeHeader {
  height: 782px;
  text-align: center;
  color: #fff;
  background-image: url('header.jpg');
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  .container{
    padding-top: 314px;
    padding-bottom: 314px;
    }
    .row h2 {
    font-style: italic;
    }
}

#homeAbout {
  position: relative;
  background-color: #fff!important;
  height: 536px;
  color: #4a4b4a;
  text-align: center;
  .container{
    padding-top: 64px;
    padding-bottom: 128px;
    .row p{
      color: rgba(0,0,0,.8); 
    }
    hr {
      max-width: 30%;
    }
  }
} 

#homeApproaches {
  position: relative;
  background-color: #ff7e27!important;
  height: 699px;
  color: #fff;
  text-align: center;
  .container {
    padding-top: 128px;
    padding-bottom: 128px;
    .row hr {
      max-width: 30%;
    }
    .row i {
      color: #fff; 
    }
    .row h2, h3 {
      color: #fff;
    }
    .row p {
      color: rgba(255,255,255,.8); 
    }
    .approachesBox{
      margin-top: 20px;
    }
  }
  .titleApproaches {
    padding-bottom: 64px;
  }
  .mainApproaches {
    padding-top: 0;
  }
}

#homeTechPartners{
  position: relative;
  background-color: #000!important;
  height: 512px;
  text-align: center;
  .container {
    padding-top: 128px;
    padding-bottom: 128px;
    .row h2 {
    color: #000;
    }
    .row p {
    color: rgba(0,0,0,.8); 
    }
  }
}

#homeFooter{
  position: relative;
  background-color: #fff!important;
  height: 130px;
  color: #fff;
  text-align: center;
  .container {
    padding-top: 40px;
    padding-bottom: 40px;
    .copyright {
      color: #212529;
      line-height: 50px;
    }
    ul.circle-buttons li a {
      line-height: 40px;
      display: block;
      width: 40px;
      height: 40px;
      -webkit-transition: all .3s;
      -moz-transition: all .3s;
      transition: all .3s;
      color: #fff;
      border-radius: 100%;
      outline: 0;
      background-color: #ff7e27;
    }
    .first-circle-button {
      background: #fff;  /* fallback for old browsers */
      background: -webkit-linear-gradient(to right, #fff, #ff7e27);  /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(to right, #fff, #ff7e27); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
  }
}

/////////////////////////

