#homeHeader {
  height: 760px;
  text-align: center;
  color: #fff;
  background-image: url('header.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; 
  .container{
    padding-top: 314px;
    padding-bottom: 314px;
    .row h2 {
    font-size: 5rem;
    }
    .row h3 {
    font-style: italic;
    }
  }
}

#homeAbout {
  position: relative;
  background-color: #ff7e27!important;
  height: 529px;
  color: #fff;
  text-align: center;
  .container{
    padding-top: 128px;
    padding-bottom: 128px;
    .row p{
    color: rgba(255,255,255,.8); 
    }
  }
} 

#homeApproaches {
  position: relative;
  background-color: #fff!important;
  height: 929px;
  color: #fff;
  text-align: center;
  .container{
    padding-top: 128px;
    padding-bottom: 128px;
    .row h2{
    color: #000;
    }
    .row p{
    color: rgba(0,0,0,.8); 
    }
  }
}

#homeTechPartners{
  position: relative;
  background-color: #fff!important;
  height: 5128px;
  color: #fff;
  text-align: center;
  .container{
    padding-top: 128px;
    padding-bottom: 128px;
    .row h2{
    color: #000;
    }
    .row p{
    color: rgba(0,0,0,.8); 
    }
  }
}
